{% extends "base.html" %}

{% block announce %}
<div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
  <a href="https://redmod79.github.io/bible-study-hub/" style="text-decoration: none;">
    Browse all Bible Study Series &rarr;
  </a>
  <span id="version-toggle-container" class="version-toggle-wrap" style="display: none;">
    <button id="version-toggle-btn" class="version-toggle-btn" title="Switch study version">
      Original
    </button>
  </span>
</div>
{% endblock %}
